<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container my-3">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to TodoApp</h1>
        <p class="lead">
          TODOSAPP provides an easy feature to mark your daily activities which
          makes you remember every time, indeed which reminds your schedule.
        </p>
        <hr class="my-4" />
        <p>
          About the app: By clicking on the Add todo button you todo activity
          will be displaying on to the page.By marking the Done Chekbox you can
          understand that the work is done. Also you can delete your todo by
          clicking on the Delete button.
        </p>
        <p>
          This Application is build using Angular as Front End Framework and
          back-end database as the InternalStorage of a PC/device. It uses a
          complete stack of Angularjs and it is hosted freely using github pages
          .
        </p>
        <p>
          This Appliation is designed by Majoju Krishna Sai Prahlad, an
          undergrad student, who is enormously interesed in exploring various
          technologies as well as frameworks.
        </p>
        <p>
          You can connect him on Linkedin, facebook,twitter. He has also
          developed many basic applications in various technologies like
          flutter, Machine Learing, React, Springboot, Android.
        </p>
        <p>Here is a githublink provided to explore his projects:</p>
        <p>
          <a
            class="btn btn-primary btn-sm"
            href="https://github.com/SaiPrahlad6"
            role="button"
            >Github</a
          >
        </p>
        <p>
          <a
            class="btn btn-primary btn-sm"
            href="https://www.linkedin.com/in/majoju-krishna-prahlad/"
            role="button"
            >Linkedin</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
<!-- <div class="container my-3">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to TodoApp</h1>
    <p class="lead">
      TODOSAPP provides an easy feature to mark your daily activities which
      makes you remember every time, indeed which reminds your schedule.
    </p>
    <hr class="my-4" />
    <p>
      About the app: By clicking on the Add todo button you todo activity will
      be displaying on to the page.By marking the Done Chekbox you can
      understand that the work is done. Also you can delete your todo by
      clicking on the Delete button.
    </p>
    <p>
      This Application is build using Angular as Front End Framework and
      back-end database as the InternalStorage of a PC/device. It uses a
      complete stack of Angularjs and it is hosted freely using github pages .
    </p>
    <p>
      This Appliation is designed by Majoju Krishna Sai Prahlad, an undergrad
      student, who is enormously interesed in exploring various technologies as
      well as frameworks.
    </p>
    <p>
      You can connect him on Linkedin, facebook,twitter. He has also developed
      many basic applications in various technologies like flutter, Machine
      Learing, React, Springboot, Android.
    </p>
    <p>Here is a githublink provided to explore his projects:</p>
    <p>
      <a
        class="btn btn-primary btn-sm"
        href="https://github.com/SaiPrahlad6"
        role="button"
        >Github</a
      >
    </p>
    <p>
      <a
        class="btn btn-primary btn-sm"
        href="https://www.linkedin.com/in/majoju-krishna-prahlad/"
        role="button"
        >Linkedin</a
      >
    </p>
  </div>
</div> -->
